<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="twitchAnalytics">
            <directory>analytics\tests</directory>
        </testsuite>
    </testsuites>
</phpunit>